@import "media.scss";
@import "font.scss";
@import "color.scss";

%Light-font {
   font-family: Montserrat, sans-serif;
   font-style: normal;
   font-weight: 300;
}

%Regular-font {
   font-family: Montserrat, sans-serif;
   font-style: normal;
   font-weight: 400;
}

%Medium-font {
   font-family: Montserrat, sans-serif;
   font-style: normal;
   font-weight: 500;
}

%SemiBold-font {
   font-family: Montserrat, sans-serif;
   font-style: normal;
   font-weight: 600;
}

*,
*::before,
*::after {
   box-sizing: border-box;

   margin: 0px;
   padding: 0px;
}

body {
   overflow-y: hidden;
   overflow-x: scroll;
   height: 100%;
}

.header {
   position: fixed;

   z-index: 1;

   padding-top: 14px;
   padding-bottom: 14px;

   width: 100%;
   min-height: 120px;

   background-color: $color-secondary;
   .container {
      position: relative;

      display: grid;
      grid-template-rows: max-content max-content;

      row-gap: 8px;

      width: 936px;

      margin: 0px auto;
   }
}

@media #{$media} and ($feature: $value-1) {
   .header {
      min-height: 60px;
      padding: 0px;
      .container {
         width: 100%;
         padding: 14px;
         background-color: $color-secondary;

         transition: all 0.3s ease 0s;
      }

      .container.active {
         row-gap: 10px;
      }

      transition: all 0.3s ease 0s;
   }

   .header.active {
      min-height: 100%;
   }
}

.header__top {
   display: grid;
   grid-template-columns: min-content max-content;
   align-items: center;
   justify-content: space-between;
}

@media #{$media} and ($feature: $value-1) {
   .header__top {
      width: 100%;
      row-gap: 0px;

      justify-content: unset;
      grid-template-columns: unset;
      grid-template-rows: max-content max-content;

      transition: all 0.3s ease 0s;
   }

   .header__top.active {
      row-gap: 24px;
   }
}

.menu__head {
   display: block;
   width: 100%;
}

@media #{$media} and ($feature: $value-1) {
   .menu__head {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      justify-content: space-between;
      width: 100%;
   }
}

.header__logo {
   width: 128px;
   height: 50.29px;
   a img {
      width: 100%;
      height: auto;
   }
}

.header__burger {
   cursor: pointer;
   display: none;
}

@media #{$media} and ($feature: $value-1) {
   .header__burger {
      display: block;
      position: relative;
      height: 17px;
      width: 24px;
      span {
         background-color: $color-text-on-primary;
         position: absolute;
         width: 100%;
         height: 2px;
         top: 8px;
         border-radius: 2px;
         transition: all 0.3s ease 0s;
         transform: scale(1);
      }
   }

   .header__burger.active span {
      transform: scale(0);
   }

   .header__burger::before,
   .header__burger::after {
      content: "";
      background-color: $color-text-on-primary;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0px;
      border-radius: 2px;
      transition: all 0.3s ease 0s;
   }

   .header__burger::before {
      transform: rotate(0deg);
      top: 0px;
   }

   .header__burger.active::before {
      transform: rotate(45deg);
      top: 8px;
   }

   .header__burger::after {
      transform: rotate(0deg);
      bottom: 0px;
   }

   .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 8px;
   }
}

.header__menu {
   width: 100%;
   .list {
      display: grid;
      grid-template-columns: max-content max-content max-content min-content;
      justify-items: end;
      align-items: center;
      column-gap: 16px;

      list-style: none;
      .list__item > a {
         cursor: pointer;

         text-decoration: none;

         font-style: normal;
         font-weight: 600;
         font-size: 18px;
         line-height: 190%;
         color: $color-text-on-primary;
      }
      .list__item--hide {
         display: unset;
      }
   }
}

@media #{$media} and ($feature: $value-1) {
   .header__menu {
      display: none;
      .list {
         row-gap: 8px;
         justify-items: start;
         align-items: center;
         grid-template-columns: unset;
         grid-template-rows: max-content max-content max-content min-content;
         .list__item {
            width: 100%;
            a {
               display: block;
            }
         }
         .list__item--hide {
            display: none;
         }
      }
   }
   .header__menu.active {
      display: block;
   }
}

.header__bottom {
   display: grid;
   grid-template-columns: max-content max-content max-content;
   justify-content: space-between;
   align-items: center;

   width: 100%;
}

@media #{$media} and ($feature: $value-1) {
   .header__bottom {
      display: none;
      grid-template-columns: unset;
      grid-template-rows: max-content max-content;
      align-items: stretch;
      justify-content: normal;
      row-gap: 16px;

      transition: all 0.3s ease 0s;
   }
   .header__bottom.active {
      display: grid;
   }
}

.header__contacts {
   a {
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 190%;
      letter-spacing: 0.04em;
      color: $color-primary;
   }

   a:hover {
      color: $color-link;
   }

   span {
      color: $color-text-on-primary;
      @extend %SemiBold-font;
   }
}

@media #{$media} and ($feature: $value-1) {
   .header__contacts {
      display: none;
   }
}

.header__connect {
   cursor: pointer;

   border-style: none;

   width: 213px;
   height: 32px;

   background: linear-gradient(45deg, #005b9f 0%, #0a8acb 100%);
   box-shadow: 0px 4px 6px rgba(52, 53, 54, 0.25);
   border-radius: 5px;

   text-transform: uppercase;

   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 190%;

   letter-spacing: 0.04em;

   color: $color-text-on-primary;
}

.header__connect:hover {
   box-shadow: 0px 4px 8px $color-primary;
   transition: all 0.3s ease 0s;
}

.header__connect:active {
   box-shadow: none;
   transition: all 0.3s ease 0s;
}

@media #{$media} and ($feature: $value-1) {
   .header__connect {
      width: 100%;
      height: 42px;
   }
}

.header__id {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 213px;
   height: 32px;

   border: 1px solid $color-text-on-primary;
   box-sizing: border-box;
   filter: drop-shadow(0px 4px 6px rgba(94, 184, 255, 0.25));
   border-radius: 5px;

   text-decoration: none;

   text-transform: uppercase;

   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 190%;

   letter-spacing: 0.04em;

   color: $color-text-on-primary;
}

@media #{$media} and ($feature: $value-1) {
   .header__id {
      width: 100%;
      height: 42px;
   }
}

.header__id:hover {
   color: $color-secondary;
   border: 1px solid $color-secondary;
   background-color: $color-text-on-primary;
   transition: all 0.3s ease 0s;
}

.list a {
   text-decoration: none;
}

.list li {
   list-style: none;
   position: relative;
}

.sub-menu__list {
   display: none;
   position: absolute;
   top: 34px;
   left: 0px;

   z-index: 2;

   background-color: #757575;
   border-radius: 5px;
   box-shadow: 0px 4px 12px rgba(52, 53, 54, 0.25);
   min-width: 256px;
   border-top: $color-primary;
   border-radius: 5px;
}

@media #{$media} and ($feature: $value-1) {
   .sub-menu__list {
      width: 100%;
   }
}

.sub-menu__link {
   display: block;

   color: $color-text-on-primary;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 190%;
   /* or 27px */

   letter-spacing: 0.04em;
   padding: 8px 14px 8px 14px;

   border-radius: 0px;

   transition: all 0.3s ease 0s;
}

.sub-menu__link.sub-menu__link--first {
   border-radius: 5px 5px 0px 0px;
}

.sub-menu__link.sub-menu__link--end {
   border-radius: 0px 0px 5px 5px;
}

.sub-menu__link:hover {
   background-color: $color-secondary-light;
   transition: all 0.3s ease 0s;
}

.arrow {
   cursor: pointer;
   display: none;
   position: absolute;
   right: 0px;
   top: 16px;
   width: 0px;
   height: 0px;
   border-top: 8px solid $color-text-on-primary;
   border-right: 8px solid transparent;
   border-left: 8px solid transparent;
}

@media #{$media} and ($feature: $value-2) {
   .arrow {
      display: none;
   }
}

.arrow.arrow-active {
   transform: rotate(-180deg);
}

body.mouse .list > li:hover .sub-menu__list {
   display: block;
}

body.touch .sub-menu__list.open {
   display: block;
}

body.touch .arrow {
   display: block;
}

body.touch .list__item > a {
   padding-right: 24px;
}

body.touch #menu_item4 {
   padding-right: 0px;
}
