/* Basic colors */
/* Media  var */
/* Import Fonts */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat"), local("Montserrat-Light"), url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat-Regular"), url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"), local("Montserrat-Medium"), url("../../fonts/Montserrat-Medium.woff2") format("woff2"), url("../../fonts/Montserrat-Medium.woff") format("woff"), url("../../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat"), local("Montserrat-SemiBold"), url("../../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../fonts/Montserrat-SemiBold.woff") format("woff"), url("../../fonts/Montserrat-SemiBold.ttf") format("truetype");
}
/* Basic colors */
.header__contacts span {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-y: hidden;
  overflow-x: scroll;
  height: 100%;
}

.header {
  position: fixed;
  z-index: 1;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  min-height: 120px;
  background-color: #424242;
}
.header .container {
  position: relative;
  display: grid;
  grid-template-rows: max-content max-content;
  row-gap: 8px;
  width: 936px;
  margin: 0px auto;
}

@media screen and (max-width: 940px) {
  .header {
    min-height: 60px;
    padding: 0px;
    transition: all 0.3s ease 0s;
  }
  .header .container {
    width: 100%;
    padding: 14px;
    background-color: #424242;
    transition: all 0.3s ease 0s;
  }
  .header .container.active {
    row-gap: 10px;
  }

  .header.active {
    min-height: 100%;
  }
}
.header__top {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 940px) {
  .header__top {
    width: 100%;
    row-gap: 0px;
    justify-content: unset;
    grid-template-columns: unset;
    grid-template-rows: max-content max-content;
    transition: all 0.3s ease 0s;
  }

  .header__top.active {
    row-gap: 24px;
  }
}
.menu__head {
  display: block;
  width: 100%;
}

@media screen and (max-width: 940px) {
  .menu__head {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.header__logo {
  width: 128px;
  height: 50.29px;
}
.header__logo a img {
  width: 100%;
  height: auto;
}

.header__burger {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 940px) {
  .header__burger {
    display: block;
    position: relative;
    height: 17px;
    width: 24px;
  }
  .header__burger span {
    background-color: #F5F5F5;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 8px;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
    transform: scale(1);
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: #F5F5F5;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    transform: rotate(0deg);
    top: 0px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 8px;
  }

  .header__burger::after {
    transform: rotate(0deg);
    bottom: 0px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
}
.header__menu {
  width: 100%;
}
.header__menu .list {
  display: grid;
  grid-template-columns: max-content max-content max-content min-content;
  justify-items: end;
  align-items: center;
  column-gap: 16px;
  list-style: none;
}
.header__menu .list .list__item > a {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 190%;
  color: #F5F5F5;
}
.header__menu .list .list__item--hide {
  display: unset;
}

@media screen and (max-width: 940px) {
  .header__menu {
    display: none;
  }
  .header__menu .list {
    row-gap: 8px;
    justify-items: start;
    align-items: center;
    grid-template-columns: unset;
    grid-template-rows: max-content max-content max-content min-content;
  }
  .header__menu .list .list__item {
    width: 100%;
  }
  .header__menu .list .list__item a {
    display: block;
  }
  .header__menu .list .list__item--hide {
    display: none;
  }

  .header__menu.active {
    display: block;
  }
}
.header__bottom {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 940px) {
  .header__bottom {
    display: none;
    grid-template-columns: unset;
    grid-template-rows: max-content max-content;
    align-items: stretch;
    justify-content: normal;
    row-gap: 16px;
    transition: all 0.3s ease 0s;
  }

  .header__bottom.active {
    display: grid;
  }
}
.header__contacts a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 190%;
  letter-spacing: 0.04em;
  color: #00ABF9;
}
.header__contacts a:hover {
  color: #0A87D1;
}
.header__contacts span {
  color: #F5F5F5;
}

@media screen and (max-width: 940px) {
  .header__contacts {
    display: none;
  }
}
.header__connect {
  cursor: pointer;
  border-style: none;
  width: 213px;
  height: 32px;
  background: linear-gradient(45deg, #005b9f 0%, #0a8acb 100%);
  box-shadow: 0px 4px 6px rgba(52, 53, 54, 0.25);
  border-radius: 5px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 190%;
  letter-spacing: 0.04em;
  color: #F5F5F5;
}

.header__connect:hover {
  box-shadow: 0px 4px 8px #00ABF9;
  transition: all 0.3s ease 0s;
}

.header__connect:active {
  box-shadow: none;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 940px) {
  .header__connect {
    width: 100%;
    height: 42px;
  }
}
.header__id {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 213px;
  height: 32px;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 6px rgba(94, 184, 255, 0.25));
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 190%;
  letter-spacing: 0.04em;
  color: #F5F5F5;
}

@media screen and (max-width: 940px) {
  .header__id {
    width: 100%;
    height: 42px;
  }
}
.header__id:hover {
  color: #424242;
  border: 1px solid #424242;
  background-color: #F5F5F5;
  transition: all 0.3s ease 0s;
}

.list a {
  text-decoration: none;
}

.list li {
  list-style: none;
  position: relative;
}

.sub-menu__list {
  display: none;
  position: absolute;
  top: 34px;
  left: 0px;
  z-index: 2;
  background-color: #757575;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(52, 53, 54, 0.25);
  min-width: 256px;
  border-top: #00ABF9;
  border-radius: 5px;
}

@media screen and (max-width: 940px) {
  .sub-menu__list {
    width: 100%;
  }
}
.sub-menu__link {
  display: block;
  color: #F5F5F5;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 190%;
  /* or 27px */
  letter-spacing: 0.04em;
  padding: 8px 14px 8px 14px;
  border-radius: 0px;
  transition: all 0.3s ease 0s;
}

.sub-menu__link.sub-menu__link--first {
  border-radius: 5px 5px 0px 0px;
}

.sub-menu__link.sub-menu__link--end {
  border-radius: 0px 0px 5px 5px;
}

.sub-menu__link:hover {
  background-color: #525252;
  transition: all 0.3s ease 0s;
}

.arrow {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0px;
  top: 16px;
  width: 0px;
  height: 0px;
  border-top: 8px solid #F5F5F5;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

@media screen and (max-width: 768px) {
  .arrow {
    display: none;
  }
}
.arrow.arrow-active {
  transform: rotate(-180deg);
}

body.mouse .list > li:hover .sub-menu__list {
  display: block;
}

body.touch .sub-menu__list.open {
  display: block;
}

body.touch .arrow {
  display: block;
}

body.touch .list__item > a {
  padding-right: 24px;
}

body.touch #menu_item4 {
  padding-right: 0px;
}

/* Import Fonts */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat"), local("Montserrat-Light"), url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat-Regular"), url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"), local("Montserrat-Medium"), url("../../fonts/Montserrat-Medium.woff2") format("woff2"), url("../../fonts/Montserrat-Medium.woff") format("woff"), url("../../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat"), local("Montserrat-SemiBold"), url("../../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../fonts/Montserrat-SemiBold.woff") format("woff"), url("../../fonts/Montserrat-SemiBold.ttf") format("truetype");
}
/* Media  var */
/*# sourceMappingURL=index.css.map */
